<!DOCTYPE html>
<html class="no-js" lang="">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue.js</title>
    </head>

    <body>
        <main>

            <candidato v-for="candidato in candidatos"
                        :nombre="candidato.name.first"
                        :correo="candidato.email"
                        :imagen="candidato.picture.thumbnail"
                        :location="candidato.location">
            </candidato>

            <pre>{{ $data }}</pre>
        </main>

        <template id="candidato-template">
            <blockquote>
                <img :src="imagen" align="right">
                <h1>{{ nombre }}</h1>
                <h2>{{ correo }}</h2>
                <ul>
                    <li v-for="(value, key, index) in location"> 
                        {{ value }}
                    </li>
                </ul>
                <hr>
            </blockquote>
        </template>

        <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="js/main4.js"></script>
    </body>

</html>